.header {
  background-image: url('/bg-img.jpg');
  width: 100%;
   /* Adjust height as needed */
  background-size: cover;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
}
.header p{ 

  padding: 2%;
  font-size: 10px;
  color:white;
}
.header h1{
  align-items: center;
  justify-content: center;
  display: flex;
  font-size:  50px;
  color: white;
  padding: 20px;

}
                                                                  









.section-title {
  text-align: center;
  margin-top: 20px;
}

.section-title h2 {
  color: #800000;
  font-size: 26px;
  font-weight: bold;
}


.table-container {
  width: 90%;
  margin: 20px auto;
  overflow-x: auto;
}


table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  border: 1px solid #800000;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #800000;
  color: white;
  font-size: 18px;
}

td {
  font-size: 16px;
}

@media (max-width: 768px) {
  .header {
    padding: 25px;
    font-size: 22px;
  }

  .breadcrumb {
    font-size: 14px;
    padding: 8px;
  }

  .section-title h2 {
    font-size: 22px;
  }

  .table-container {
    width: 100%;
    overflow-x: auto;
  }

  table {
    font-size: 14px;
  }

  th, td {
    padding: 10px;
  }
}

/* Mobile View */
@media (max-width: 480px) {
  .header {
    font-size: 18px;
    padding: 20px;
  }

  .breadcrumb {
    font-size: 12px;
    padding: 6px;
  }

  .section-title h2 {
    font-size: 18px;
  }

  table {
    font-size: 12px;
  }

  th, td {
    padding: 6px;
  }
}
